@{
    ViewData["Title"] = "Cached Data";
}

<h2>@ViewData["Title"]</h2>

<p>@Model</p>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
